@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

.nanumgothic * {
 font-family: 'Nanum Gothic', sans-serif;
}
*
{
    font-family:'Nanum Gothic';
}
body
{
    background-color: #e6e6e6 !important;
}
h1
{
    font-weight: 700 !important;
    font-size: 250% !important;
    word-break: keep-all;
}
h3
{
    font-weight: 600 !important;
    font-size: 130% !important;
    word-break: keep-all;
}
h4
{
    font-weight: 500 !important;
    font-size: 100% !important;
    word-break: keep-all;
}
#navbar_custom
{
    background-color:#00462a;
    color:white;
    border-radius:0px;
    border-width:0px;
}
#navbar_logo
{
    color:white;
    font-style:bold;
}
#home_introduce_jumbotron_dev
{
    border-radius:30px;
    color:#000000;
    box-shadow: 10px 10px 20px #00000040;
}
#home_introduce_jumbotron_aos
{
    border-radius:30px;
    color:#000000;
    box-shadow: 10px 10px 20px #00000040;
}
#home_introduce_jumbotron_ios
{
    border-radius:30px;
    color:#000000;
    box-shadow: 10px 10px 20px #00000040;
}
.line_1
{
    margin-left:0%;
    margin-right:0%;
    border-color:#d1d1d1;
    border-width:3px;
    border-radius:100px;
}
#button_download_aos
{
    background-color:#00462a;
    border-width:0px;
    border-radius:7px;
}
#button_download_ios
{
    background-color:#00462a;
    border-width:0px;
    border-radius:7px;
}
#button_instagram
{
    background-color:#00462a;
    border-width:0px;
    border-radius:7px;
}
#button_github
{
    background-color:#00462a;
    border-width:0px;
    border-radius:7px;
}